nav {
    margin-bottom: 5%;
}
.logo {
    width: 104px;
}
.form {
    width: 90%!important;
    height: 100%!important;
}
.delete {
    background-color: brown;
    border-color: brown;
}
.sorting_1 {
    line-break: anywhere;
}
.category {
    width: 100%;
}
@media only screen and (max-width: 450px) {

    .enkaz-footer {
        width: 500px!important;
    }
    .fade {
        width: 100%!important;
        height: 100%!important;
        padding-right: 22px!important;
    }
}
@media only screen and (max-width: 360px) {
    .dataTables_paginate {
        margin-left: 127px!important;
    }
}
table {
    font-size: 12px;
}
table tr {
    font-size: 12px;
}
table th {
    font-size: 12px;
}
.paginate_button a{
    font-size: 12px!important;
}
.dataTables_info {
    font-size: 12px;
}
.dataTables_length {
    font-size: 12px;
}    
/*
* Footer
*/
.enkaz-footer {
    /* display: none; */
padding: 2.5rem 0;
color: #727272;
text-align: center;
background-color: #f9f9f9;
border-top: .05rem solid #e5e5e5;
}
.enkaz-footer p:last-child {
margin-bottom: 0;
}
